<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LithiumMessageTracer</key>
	<dict>
		<key>LastReportedDate</key>
		<date>2017-10-17T07:07:50Z</date>
	</dict>
	<key>localPrint_captionSelectionAperture</key>
	<false/>
	<key>localPrint_captionSelectionCamera</key>
	<false/>
	<key>localPrint_captionSelectionDate</key>
	<false/>
	<key>localPrint_captionSelectionDescription</key>
	<false/>
	<key>localPrint_captionSelectionFilename</key>
	<false/>
	<key>localPrint_captionSelectionFlash</key>
	<false/>
	<key>localPrint_captionSelectionFocalLength</key>
	<false/>
	<key>localPrint_captionSelectionISO</key>
	<false/>
	<key>localPrint_captionSelectionKeywords</key>
	<false/>
	<key>localPrint_captionSelectionRating</key>
	<false/>
	<key>localPrint_captionSelectionShutterSpeed</key>
	<false/>
	<key>localPrint_captionSelectionTitle</key>
	<false/>
	<key>localPrint_captionStyle</key>
	<integer>0</integer>
	<key>localPrint_contactSheetCellMargin</key>
	<real>18</real>
	<key>localPrint_contactSheetColumns</key>
	<integer>4</integer>
	<key>localPrint_currentPrintUnits</key>
	<integer>1</integer>
	<key>localPrint_customPhotoHeight</key>
	<real>288</real>
	<key>localPrint_customPhotoWidth</key>
	<real>432</real>
	<key>localPrint_paperName</key>
	<string>A4</string>
	<key>localPrint_printInfo</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGlj
	dGlvbmFyeQCEhAhOU09iamVjdACFhAFpHpKEhIQITlNTdHJpbmcBlYQBKxROU1ByaW50
	U2VsZWN0aW9uT25seYaShISECE5TTnVtYmVyAISEB05TVmFsdWUAlYQBKoSEAWOcAIaS
	hJeYCU5TUHJpbnRlcoaShISECU5TUHJpbnRlcgCVkoSXmAEghoaShJeYFE5TVmVydGlj
	YWxQYWdpbmF0aW9uhpKEmZuElpYAhpKEl5gWTlNIb3Jpem9udGFsbHlDZW50ZXJlZIaS
	hJmbm5wBhpKEl5gUTlNWZXJ0aWNhbGx5Q2VudGVyZWSGkqSShJeYC05TVG9wTWFyZ2lu
	hpKEmZuEhAFmnlqGkoSXmBVOU0hvcml6b25hbFBhZ2luYXRpb26GkoSZm6KWAoaShJeY
	CE5TQ29waWVzhpKEmZuEhAFxnwGGkoSXmA1OU09yaWVudGF0aW9uhpKEmZutnwCGkoSX
	mA9OU1ByaW50QWxsUGFnZXOGkqSShJeYGE5TRGV0YWlsZWRFcnJvclJlcG9ydGluZ4aS
	mJKEl5gLTlNQYXBlclNpemWGkoSam4SEC3tDR1NpemU9ZGR9oIFTAoFKA4aShJeYC05T
	Rmlyc3RQYWdlhpKskoSXmA5OU0JvdHRvbU1hcmdpboaSp5KEl5gNTlNQYWdlc0Fjcm9z
	c4aSrJKEl5gLTlNGYXhOdW1iZXKGkoSXmACGkoSXmBBOU1ByaW50UHJvdGVjdGVkhpKY
	koSXmA1OU1ByaW50ZXJOYW1lhpKfkoSXmAtOU1BhZ2VzRG93boaSrJKEl5gLTlNQcmlu
	dFRpbWWGkoSEhAZOU0RhdGUAlYQBZIMAAADFyGMtwoaShJeYC05TUGFwZXJOYW1lhpKE
	l5gGaXNvLWE0hpKEl5gTTlNEZXN0aW5hdGlvbkZvcm1hdIaShJeYIGNvbS5hcHBsZS5k
	b2N1bWVudGZvcm1hdC5kZWZhdWx0hpKEl5gNTlNSaWdodE1hcmdpboaShJmbqJ5IhpKE
	l5gNTlNNdXN0Q29sbGF0ZYaSpJKEl5gMTlNMZWZ0TWFyZ2luhpLFkoSXmCJOU0pvYlNh
	dmluZ0ZpbGVOYW1lRXh0ZW5zaW9uSGlkZGVuhpKYkoSXmA9OU1NjYWxpbmdGYWN0b3KG
	koSZm4SiogGGkoSXmBBOU0pvYkRpc3Bvc2l0aW9uhpKEl5gPTlNQcmludFNwb29sSm9i
	hpKEl5gKTlNMYXN0UGFnZYaShJmbrZ+C////f4aShJeYCk5TU2F2ZVBhdGiGkrmG
	</data>
	<key>localPrint_printPreset</key>
	<integer>0</integer>
	<key>localPrint_printerPreset</key>
	<string></string>
</dict>
</plist>
